*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Barlow Condensed', sans-serif;
}
#nav{
    height: 150px;
    width: 100%;
    display: flex;
    background-color: black;
    position: static;
}
#nav img{
    height: 135px;
    width: 200px;
    display: block;
    justify-content: center;
    padding: 5px;

}
#navlinks{
    text-align: right;
    flex: 1;
    
}
#navlinks ul li{
    display: inline-flex;
    list-style: none;
    text-align: right;
    justify-content: space-evenly;
    
}
#navlinks ul li a{
    justify-content: space-evenly;
    text-decoration: none;
    padding: 30px;
    margin-top: 30px;
    font-size: 25px;
    color: azure;
    font-family: 'Roboto', sans-serif;
}
#navlinks ul li a:hover{
    border-radius: 20px;
    border-color: black;
    color: azure;
    background-color: azure;
    color: black;
    transition: 0.3;

}
#main{
    display:flex;

}
#main img{
    width: 100%;
    background-position: center;
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;

}
h1{
    position: relative;
    font-size: 200px;
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    text-align: center;
    color: #F0F0F0;
    font-weight: 300px;
    -webkit-text-stroke: 0.1px #F0F0F0;
    -webkit-text-stroke-width: 0.1px;
    margin-top: 200px;
    margin-left: 220px;
    text-shadow: 3px 3px 3px  black;
}

#info{
    display: flex;
    height: 600px;
    width: 1050px;
}
#info #bgnd{
    display: inline-flex;
    position: relative;
    height: 600px;
    width: 1050px;
    margin-top: 500px;
    margin-left: 245px;
    border-radius: 40px;

}
#info #gif{
    height: 200px;
    width: 200px;
    display: block;
    position: absolute;
    margin-top: -650px;
    margin-left: 200px;
}
#info h2{
    display: flex;
    color: #F0F0F0;
    position: absolute;
    font-size: 50px;
    text-align: center;
    margin-left: 550px;
    margin-top: -550px;
    justify-content: center;
    font-family:  'Roboto', sans-serif;
    text-shadow: 5px 5px 5px black;
}
#info p{
    color: #F0F0F0;
    position: absolute;
    margin-left: 325px;
    margin-top: -445px;
    font-size: 30px;
    font-family:  'Roboto', sans-serif;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    display: block;
    width: 900px;

}
#info #sec{
    color: #F0F0F0;
    position: absolute;
    margin-left: 325px;
    margin-top: -230px;
    font-size: 30px;
    font-family:  'Roboto', sans-serif;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    display: inline-block;
    width: 900px;

}
#footer{
    margin-top: 1000px;
    display: flex;
    height: 1000px;
    width: 100%;
    position: absolute;
}
#footer img{
    width: 100%;
    height: 375px;
    border-radius: none;
    bottom: 0px;
    position: absolute;
    border-radius: 50px 50px 0px 0px;
    border-width: 10px;
    border-color: black;
    display: flex;
}
#links{
    position: relative;
    width: 100%;
    align-items: center;
}
#links ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;

}
#links img{
    height: 50px;
    width: 50px;
    justify-content: space-evenly;
    margin-top: 30px; 
    margin-left: -20px;

}

#links h3{
    position: absolute;
    display: block;
    align-items: center;
    justify-content:space-evenly;
    color: white;
    padding: 30px;
    margin-left: 600px;
    font-size: 40px;
    margin-top: 700px;
} 
#links #email{
    position: absolute;
    display: block;
    color: white;
    padding: 30px;
    margin-left: 500px;
    font-size: 40px;
    margin-top: 750px;
    align-items: center;
}
